@import "tailwindcss";

@theme {

  /*? Fonts */
  --font-family-primary: "Raleway", sans-serif;
  --font-family-secondary: "Roboto Condensed", sans-serif;

  /*? Font sizes */
  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-80: 5rem;

  /*? Font weights */
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-black: 900;

  /*? Line heights */
  --leading-10: 1.5em;
  --leading-12: 1.5em;
  --leading-14: 1.4em;
  --leading-16: 1.4em;
  --leading-18: 1.4em;
  --leading-20: 1.3em;
  --leading-24: 1.3em;
  --leading-40: 1.0em;
  --leading-48: 1.0em;
  --leading-80: 1.0em;

  /*? Letter spacing */
  --tracking-tighter: -0.02em;
  --tracking-tight: -0.01em;
  --tracking-wide: 0.01em;
  --tracking-wider: 0.02em;

  /*? Colors */
  --color-bg: #191A1A;
  --color-bg-inverse: #F5FFFF;
  --color-primary: #F50057;
  --color-text-accent: #22C55E;
  --color-card-bg: #1A0009;
  --color-logo-bg: #330012;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:root,
body {
  background-color: var(--color-bg);
  color: #FFFFFF;
  font-family: var(--font-family-primary);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/*! primary */
.primary-display {
  @apply font-black uppercase font-family-primary text-40 md:text-48 xl:text-80 leading-40 md:leading-48 xl:leading-80 tracking-tighter
}

.primary-heading {
  @apply font-black uppercase font-family-primary text-20 md:text-24 xl:text-40 leading-20 md:leading-24 xl:leading-40 tracking-tight
}

.primary-body {
  @apply font-semibold uppercase font-family-primary text-14 md:text-16 xl:text-18 leading-14 md:leading-16 xl:leading-18 tracking-wide
}

.primary-caption {
  @apply font-semibold uppercase font-family-primary text-10 md:text-14 xl:text-16 leading-10 md:leading-14 xl:leading-16 tracking-wider
}

/*! secondary */
.secondary-body {
  @apply font-regular font-family-secondary text-14 md:text-16 xl:text-18 leading-14 md:leading-16 xl:leading-18 tracking-wide
}

.secondary-body-uc {
  @apply font-regular uppercase font-family-secondary text-14 md:text-16 xl:text-18 leading-14 md:leading-16 xl:leading-18 tracking-wide
}

.secondary-caption {
  @apply font-regular font-family-secondary text-10 md:text-12 xl:text-14 leading-10 md:leading-12 xl:leading-14 tracking-wider
}

.secondary-caption-uc {
  @apply font-regular uppercase font-family-secondary text-10 md:text-12 xl:text-14 leading-10 md:leading-12 xl:leading-14 tracking-wider
}



.profile {
  @apply w-[4.5rem] h-[4.5rem] md:w-24 md:h-24 xl:w-[7.5rem] xl:h-[7.5rem] rounded-full
}

.transitions {
  @apply transition-all duration-400 ease-in-out
}

.button-padding {
  @apply px-3.5 py-2 md:px-[1.125rem] md:py-2.5 xl:px-5 xl:py-3
}

.badge-padding {
  @apply px-2 py-0.5 md:px-2.5 xl:px-3
}

.icon {
  @apply w-[1.125rem] h-[1.125rem] md:w-5 md:h-5 xl:w-6 xl:h-6
}

.icon-stroke {
  @apply stroke-[1.5] md:stroke-2
}

.icon-container {
  @apply flex items-center justify-center w-8 h-8 md:w-10 md:h-10 xl:w-11 xl:h-11
}

@keyframes modal-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

.animate-modal-in {
  animation: modal-in 0.4s ease-in-out forwards;
}

.red {
  border: 1px solid red;
}

.blue {
  border: 1px solid blue;
}